.admin-wrapper {
    background-image: url("./../../../assets/images/bg1.png");
    padding-top: 4%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-repeat: no-repeat;
    font-family: Calibri;
    font-weight: 100;
}
h2 {
    font-size: 2.6vw;
    font-weight: 100;
}
h3 {
    font-size: 2.6vw;
}
.header-wrapper {
    padding: 2%;
    background: linear-gradient(45deg, #3267b1, #2babe2);
    border-radius: 10px;
    color: white;
}
.import-btn, .export-btn {
    border-radius: 10px;
    width: 45%;
}
.export-btn {
    margin-left: 5%;
    color: white;
    background-color: #464646;
}
.import-btn {
    color: #464646;
    background-color: #ccc;
}
.recent-logout {
    font-size: 1.79vw;
    text-align: right;
}
.btn-wrapper {
    margin-top: 2%;
}
.result-list-container {
    margin-top: 10px;
    background-color: #FFF;
    padding: 2%;
}
.sort-section {
    font-size: 1.69vw;
}
.date, .zone, .grade {
    cursor: pointer;
    margin: 0 5% 0 5%;
}
.enable {
    color: #2babe2;
    border-bottom: 1px solid #2babe2;
}
.table-wrapper {
    background-color: #FFF;
    font-size: 1.69vw;
    /* padding-left: 2%; */
    /* padding-right: 2%; */
}
td {
    line-height: 35px;
}
th {
    border-top: 0;
}
tbody {
    color: #9a9a9a;
}
.grade-col {
    color: #2babe2;
}
.good, .moderate, .poor {
    position: relative;
}
.good::after, .moderate::after, .poor::after {
    content : "";
    position: absolute;
    left    : 0;
    z-index: 100;
    top  : 10%;
    width  : 4px;
    height   : 80%;  /* or 100px */
    background: #00a651;
}
.moderate::after {
    background: #f3980a;
}
.poor::after {
    background: #f30f3a;
}

@media (max-width: 575.98px) {
    table {
        font-size: 4vw;
    }
    h2 {
        font-size: 3.6vw;
        font-weight: 100;
    }
    h3 {
        font-size: 3.6vw;
    }
    .sort-section {
        font-size: 3vw;
    }
    .recent-logout {
        font-size: 2.79vw;
        text-align: right;
    }
}