<div class="container-fluid admin-wrapper">
  <div class="row header-wrapper">
    <div class="col-md-3">
      <h2>Admin panel</h2>
    </div>
    <div class="offset-md-7"></div>
    <div class="col-md-2 text-right" style="font-size: 1.79vw;">
      <span>Recent
        <span style="color: #3267b1">|</span>
      </span>
      <span>Logout</span>
    </div>
    <div class="col-md-4 btn-wrapper">
      <input type="button" value="Import" class="btn import-btn">
      <input type="button" value="Export" class="btn export-btn">
    </div>
  </div>
  <div class="row result-list-container">
    <div class="col-md-2">
      <h3>Result</h3>
    </div>
    <div class="offset-md-6"></div>
    <div class="col-md-4 sort-section text-center">
      Sort :
      <span class="date">Date</span>
      <span class="zone">Zone</span>
      <span class="grade">Grade</span>
    </div>
  </div>
  <div class="table-wrapper table-responsive">
    <table class="table">
      <thead>
        <th scope="col" style="width: 32%">Name</th>
        <th>D.O.B</th>
        <th>Date</th>
        <th>Zone</th>
        <th>Grade</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr>
          <td class="good">Eshwar</td>
          <td>08/10/96</td>
          <td>08/10/96</td>
          <td>Chennai</td>
          <td class="grade-col">Good</td>
          <td>
            <img src="./../../../assets/images/download.png">
          </td>
        </tr>
        <tr>
          <td class="good">Eshwar</td>
          <td>08/10/96</td>
          <td>08/10/96</td>
          <td>Chennai</td>
          <td>Good</td>
          <td>
            <img src="./../../../assets/images/download.png">
          </td>
        </tr>
        <tr>
            <td class="moderate">Kiran</td>
            <td>08/10/96</td>
            <td>08/10/96</td>
            <td>Chennai</td>
            <td>Moderate</td>
            <td>
              <img src="./../../../assets/images/download.png">
            </td>
          </tr>
          <tr>
            <td class="poor">Sheethal</td>
            <td>08/10/96</td>
            <td>08/10/96</td>
            <td>Chennai</td>
            <td>Poor</td>
            <td>
              <img src="./../../../assets/images/download.png">
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>