.welcome-wrapper {
    background-image: url("./../../../assets/images/bg1.png");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 768px;
}
.welcome-wrapper div:nth-child(1) {
    padding-top: 11.5%;
    padding-left: 5%;
}
h1, p {
    font-family: Calibri;
    color: #0095da;
}
h1 {
    margin-bottom: 4%;
}
p {
    color: black;
    font-size: 2.19vw;
    font-weight: 100;
}
.lang {
    display: inline-block;
}
.choose-lang {
    margin-left: 3%;
    font-family: Calibri;
    font-weight: 600;
    font-size: 1.9vw;
    border: 1px solid #0095da;
    padding-left: 5%;
    padding-right: 5%;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
select.choose-lang {
    background-image: url("./../../../assets/images/polygon.png");
    background-position: calc(100% - 10%) calc(100% - 40%);
    background-repeat: no-repeat;
}
select.choose-lang:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.welcome-footer {
    margin-top: 8%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.welcome-footer button {
    font-family: Calibri;
    font-weight: 100;
    color: white;
    background: #0095da;
    border: 0;
    width: 12.66vw;
    font-size: 1.75vw;
    border-radius: 10px;
    height: 5.85vh;
    cursor: pointer;
}
.logo-wrapper {
    width: 20%;
    text-align: right;
    padding-right: 1.65%;
}
@media (max-width: 575.98px) {
    h1 {
        font-size: 5.5vw; 
    }
    .welcome-footer button {
        font-size: 3.5vw;
        width: 16vw;
        line-height: 16px;
        height: 5vh;
    }
    h1 {
        font-size: 8vw;
        font-weight: 800;
        margin-bottom: 8%;
    }
    p {
        font-size: 4.0vw;
        margin-bottom: 0.5rem;
    }
    .choose-lang  {
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 2.0vw;
        background-size: 13px;
    }
}