<div class="container-fluid welcome-wrapper">
  <div>
    <h1>Welcome !</h1>
    <p>Total Number of Questions : 40</p>
    <p>Maximum time alloted for the test :</p>
    <p>The time given for one question can be either 30 seconds or 60 seconds depending on the difficulty</p>
    <p>You can only move to the next question after answering the current one</p>
    <p class="lang">You can select from around 60 Languages</p>
    <select [(ngModel)]="langOption" class="choose-lang">
      <option [value]="language" *ngFor="let language of languages">{{language}}</option>
    </select>
  </div>
  <div class="welcome-footer">
    <button type="button" class="btn submit-btn" (click)="startTest()">Start</button>
    <div class="float-right" style="width: 10%">
      <div class="">
        <img src="./../../../assets/images/logo.png" class="img-fluid" alt="Quess logo">
      </div>
    </div>
  </div>
</div>